<!DOCTYPE html>
<html>
<head>
  <title>K's Kitchen</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></head>
<body ng-app="app" ng-controller="MainCtrl">
  <div class="main-view-container" ui-view>
    {{hello?}}
  </div>

</body>
</html>
